.main {
    position: relative;
    white-space: normal;
    overflow: hidden;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    @include blendy("../images/bib_ver2_cover.png", aqua, multiply);
}

.arrow__bkg {
  display: table;
   height: 100%;
   width: 70px;
   background-color: yellow;
   position: absolute;
}

.arrow {
    display: table-cell;
    vertical-align: middle;
}


.main--title { 
    position: absolute;
    top: 41%;
    color: $white;
    font-weight: bold;
    background-color: rgba(51, 51, 51, 0.52);
    padding: 1rem;
    left: 0;
}

.main--description {
    position: absolute;
    top: 0%;
    padding: 1rem;
    width: 54%;
    height: 100%;
     color: $white;
    display: table;
    background-color: rgba(51, 51, 51, 0.52);
    //@include animation('move-left 1s ease-in-out 1');
    //-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    //animation-delay: 0.5s;
   // @include stop();
    left: 46%;

}
.main--description--text {
    display: table-cell;
    vertical-align: middle;
}

.main--description--small {
    display: none;
}
.vList--piped>*+* {
    border-top: 1px solid rgba(0, 255, 255, 0.29);
}


@include keyframes(move-left) {
  0% { left: 120%; }
  100% { left: 46%; }
}



//----------------------------------------------------
// Media Queries
//----------------------------------------------------

@media (max-width: $breakpoint-xlarge) {

   .main--description--small {
        display: none;

    }
}


@media (max-width: $site-width) {

   .main--description--small {
        display: none;

    }

}



@media (max-width: $breakpoint-large) {

   .main--description--small {
        display: none;

    }

}

@media (max-width: $breakpoint-medium) {

    .main--description {
        display: none;
        @include animation('none');
        

    }

    .main--description--small {
        display: block;
        width: 100%;
        color: #666;
        padding: 1rem;
        z-index: 500;
        height: auto;
        background-color: $white;
       // @include animation('move-left 1s ease-in-out 1');
          //  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
       // animation-delay: 0.5s;
       // @include stop();
    
    }

    .main--title {
        width: 100%;
        text-align: center;
        top: 80%;
        height: auto;

       
    }
     .vList--piped>*+* {
             border-top: 1px solid #d2e0d2;
}

}

