// ------------------------
//  INFORMATION
// ------------------------
// Important: Do not change these core files. Any changes should be 
//            added to a theme file. Example '/themes/txt.scss' 
// 
// Description: the txt components are used to specify various styles of text, such as different sized text, bold text, and italic text.
//  
// ------------------------ 
//  EXAMPLES
// ------------------------
//
//  <p>This is an example of <span class="txt txt--bold">bold</span> using a specific class name.</p> 
//
// http://ux.allstate.com/ux/Allstate-Style-Guide/#/components/text-decoration
//
//
// ------------------------
//  APPENDIX
// ------------------------
// 


.txt {
    font-weight: $font-normal;
}

.txt--thin {
    font-weight: $font-light;
}

.txt--normal {
    font-weight: $font-normal;
}

.txt--semibold {
    font-weight: $font-semiBold;
}

.txt--bold,
.txt--thick {
    font-weight: $font-bold;
}

.txt--xs {
    font-size: 0.75rem;
}

.txt--sm {
    font-size: 0.875rem;
}

.txt--lg {
    font-size: 1.125rem;
}

.txt--left {
    text-align: left;
}

.txt--centered {
    text-align: center;
}

.txt--right {
    text-align: right;
}

.txt--italic {
    font-style: italic;
}

.txt--underline {
    text-decoration: underline;
}

.txt--strike {
    text-decoration: line-through;
}

.txt--dusty--x4 {
    color: $gray-4;
}

.txt--dusty--x5 {
    color: $gray-5;
}

.txt--success {
    color: $green-2;
}

.txt--inverse {
    color: $white;
}

.txt--brand {
    color: $blue-1;
}